/* form.module.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
   }
   
   .input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
   }
   
   .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   
   .button:hover {
    background-color: #0056b3;
   }

   label {
    color: white
;   }
   